[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
"autopep8" = "*"

[packages]
django = "*"
python-decouple = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
dj-database-url = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
whitenoise = "*"
requests = "*"

[requires]
python_version = "3.6"
