adium-theme-ubuntu==0.3.4
asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
cryptography==2.2.2
dj-database-url==0.5.0
elib.intl==0.0.3.dev0
enum34==1.1.6
gunicorn==19.8.1
gyp==0.1
idna==2.7
ipaddress==1.0.22
ordereddict==1.1
pipenv==2018.5.18
psycopg2-binary==2.7.5
pycparser==2.18
pycurl==7.43.0
Pygments==2.1
pygobject==3.20.0
pyOpenSSL==18.0.0
python-apt==1.1.0b1+ubuntu0.16.4.1
python-decouple==3.1
python-distutils-extra==2.39
PyYAML==3.11
requests==2.19.1
screenkey==0.9
six==1.11.0
unity-lens-photos==1.0
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.3.0
whitenoise==3.3.1
